/* Full page container */
.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #f3f4f6;
}

.auth-header {
  margin-bottom: 40px;
  text-align: center;

  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #6b7280;
  }
}

.auth-header p {
  color: #6b7280;
  margin-top: 10px;
}

.auth-form {
  flex: 1;
  margin: auto;
  width: 50%;
}

/* Form */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

/* Inputs */
.auth-input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;          /* perfect match w/ button */
  border: 1px solid #d1d5db;
  font-size: 15px;
  background: #fafafa;
}

.auth-input:focus {
  outline: none;
  border-color: #000000;        /* retool purple */
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.15);
}

/* Disabled email field */
.auth-input:disabled {
  background: #e5e7eb;
  color: #6b7280;
}

/* Buttons */
.auth-button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background: #000000;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.auth-button:hover {
  background: #3f3f3f;
}

.TOS {
  font-size: 12px;
  color: #6b7280;
  margin-top: 8px;
}

/* Errors */
.auth-error {
  color: #dc2626;
  font-size: 12px;
}

/* Right side image */
.auth-image {
  flex: 1.2;
  height: 100%;
  max-width: 50%;
}

.auth-image img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

/* Mobile */
@media (max-width: 900px) {
  .auth-image {
    display: none;
  }
  .auth-card {
    max-width: 90%;
  }
}
